<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sadsadsad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38C2998A1D139A090061C0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C299A31D139A0A0061C0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C299AE1D139A0A0061C0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
